@model CustomersViewModel

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>
<!--
<p>
    <a asp-action="CreateNew">Create New</a>
</p>
    -->
<form asp-controller="Customers" asp-action="Index" method="get">
    <p>
        <label>Search: </label>
        <select asp-for="SearchType" asp-items="Html.GetEnumSelectList<RevatureP1.Domain.CustomerSearchType>()">
        </select>
        <input type="text" asp-for="SearchString">
        <input type="submit" value="Search"class="btn btn-outline-primary btn-sm">

        <input type="submit" value="Reset" asp-action="ResetSearch"class="btn btn-outline-secondary btn-sm">
    </p>
</form> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customers[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Customers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="OrderHistory" asp-route-id="@item.CustomerId">Order History</a> |
                    <a asp-action="Edit" asp-route-id="@item.CustomerId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.CustomerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
