@model RevatureP1.Models.Store

@{
    ViewData["Title"] = "Avaliable Products";
}

<h1>Details</h1>

<div>
    <h4>Store</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    <h3>Current Stock</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableProducts[0].ProductId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableProducts[0].Product.ProductDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AvailableProducts[0].Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        @foreach (var item in Model.AvailableProducts)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.ProductDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
    </tr>
        }
    </table>
</div>
<div>
    <!--<a asp-action="Edit" asp-route-id="@Model.StoreId">Edit</a> |
    <a asp-action="Index">Back to List</a>-->
</div>
